img{
border-radius: 50%;
width:100px;
}
header{
	background-color:grey;
	padding:40px;
	margin:20x;
font-size:150%;
} 
ul.h{
	background-color:#a39d9d;
	color:blue;
display:none;
}
section{
background-color:grey;
color:black;
padding:20px;
font-family:arial;
}
footer{
	color:white;
font-family:italic;
}
body{
background-color:#658fc2;
text-align:center;
}
ul.d{
color:#263eb5;
}
li .hoover{
	transition:2s;
}